n8n-workflows/stripe-payment-intent-workflow.json
{
  "name": "Create Stripe Payment Intent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-payment-intent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "create-payment-intent"
    },
    {
      "parameters": {
        "jsCode": "// Extract amount and package name from webhook body\nconst body = $input.item.json.body || $input.item.json;\nconst amount = body.amount || 0; // Amount in cents\nconst packageName = body.packageName || 'Unknown Package';\n\n// Return data for Stripe node\nreturn {\n  json: {\n    amount: amount,\n    currency: 'usd',\n    metadata: {\n      packageName: packageName\n    }\n  }\n};"
      },
      "id": "code-node",
      "name": "Prepare Payment Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "paymentIntent",
        "operation": "create",
        "amount": "={{ $json.amount }}",
        "currency": "={{ $json.currency }}",
        "metadata": "={{ $json.metadata }}",
        "additionalFields": {}
      },
      "id": "stripe-node",
      "name": "Stripe - Create Payment Intent",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "stripeApi": {
          "id": "YOUR_STRIPE_CREDENTIALS_ID",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"clientSecret\": $json.client_secret } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Payment Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payment Intent": {
      "main": [
        [
          {
            "node": "Stripe - Create Payment Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe - Create Payment Intent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

